#img-2 {
    width: 40px;
}

#img-3 {
    width: 60%;
}

.burger-food {
    width: 300px;
}

#Main-Conatainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

#left-section {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;

    background-color: RGB(12, 14, 16);
}

#right-section {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

#left-section>h1 {
    text-align: center;
    margin: 5px 0px;
    color: RGB(255, 255, 255);

}

#left-section>h3 {
    text-align: center;
    color: red;
    margin: 3px 0px 15px 0px;
}

#links-section>h1 {
    text-align: center;
    color: RGB(255, 255, 255);
}

#more-about-section>h1 {
    text-align: center;
    color: RGB(255, 255, 255);

}

#links-section ol,
#more-about-section ol {
    padding-left: 20px;
    line-height: 40px;
    font-size: 25px;
    color: RGB(194, 195, 195);
}

#left-section img {

    margin-bottom: 0px;
    /* Very small gap */
}

#right-section {
    width: 70%;
    padding: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 0px;
}

.nav-bar input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 60%;

    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="%23999"><circle cx="9" cy="9" r="7" stroke="%23999" stroke-width="2" fill="none"/><line x1="14" y1="14" x2="19" y2="19" stroke="%23999" stroke-width="2"/></svg>');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 95% center;
}



.nav-bar button {
    padding: 8px 14px;
    border: none;
    background-color: #ff4c4c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#Big-img>img {

    width: 100%;

}

#Menu-item>h1 {

    color: white;
}

.burger-food {

    height: 400px;
}

body {
    background-color: RGB(12, 14, 16);
    font-family: 'Poppins', sans-serif;


}